on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
name: Linters
permissions:
  # Required: allow read access to the content for analysis.
  contents: read
  pull-requests: read
  # Allow write access to checks to allow the action to annotate code in the PR.
  checks: write
jobs:
  lint:
    name: Golang CI Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.24
    - name: Install testifylint
      run: go install github.com/Antonboom/testifylint@v1.4.0
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.1.0
